/* Box Model */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* General Styles */
body {
    font-size: 18px;
}

#wrapper {
    padding: 0vw;
}

/* Mobile First Styles */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #acfff8;
}

.headings {
    padding: 2vw;
    line-height: .5em;
    text-align: center;
}

#weather-logo {
    width: 15vw;
}

#prestonTitle {
    font-size: 1.8em;
}

#tagline {
    font-size: 1em;
}

nav {
    background-color: #acd3ff;
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Hamburger Menu */
/*#menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #b81568;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav li a {
    color: #fff;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.nav li {
    list-style: none;
    padding: 16px 0;
}

.nav {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.menu-bg, #menu-bar {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #e94498, #b81568);
    border-radius: 50%;
    transition: 0.3s ease;
}

#menu-bar {
    z-index: 2;
}

.change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}*/

/* End Hamburger Menu */

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0.8em;
}

nav ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

#preston-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-heading {
    line-height: 0.5em;
    padding: 0 5vw;
}

.area-heading h1 {
    font-size: 1.8em;
}

.area-heading h2 {
    font-size: 1em;
}

.info {
    border: 2px solid;
    width: 60vw;
    text-align: center;
    border-radius: 8px;
    margin: 1vw;
}

#currCon {
    background-color: red;
}

#temp {
    background-color: green;
}

#precip {
    background-color: blue;
}

#futureCond {
    background-color: yellow;
}

footer {
    background-color: #acd3ff;
    text-align: center;
}

/* Larger Screen Styles */
@media sreen and (min-width: 40em) {
    
}