* {
    box-sizing: border-box;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background-color: #78AFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

#home-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

header {
    background-color: #559AFF;
    padding: 10px;
}

main {
    min-height: 300px;
}

main ul {
    display: inline-block;
    padding-left: 1em;
}

main ul li {
    font-size: 1.2em;
}

a {
    color: #800000;
}

a:hover {
    color: #fff;
}

a:active {
    color: #800000;
}

#home-img {
    float: right;
}

footer {
    background-color: #559AFF;
    text-align: center;
}